body{
		font-family: Helvetica;
		background: white;
		text-align: center;
	}		
	h1 {
		color: #8b8989;
	}
	h2 {
		color: #cdc9c9;
	}
	p{
		color: #8b8989;
	}
	h3{
		color: #8b8989;
	}
	li{
		color: #8b8989;
	 	list-style-type: none;